<ul id="post-list" class="h-feed">

{{ if .IsHome }}
	{{ $now := now }}
	{{ $cutoff := $now.AddDate 0 0 -30 }}
	{{ $posts := slice }}
	{{ range where .Pages "Type" "post" }}
		{{ if and (ge .Date $cutoff) (le .Date $now) }}
			{{ $posts = $posts | append . }}
		{{ end }}
	{{ end }}
	{{ $paginator := .Paginate $posts.ByDate.Reverse }}
	{{ $list := $paginator.Pages }}
	{{ range $list  }}
		{{ partial "post-item.html" . }}
	{{ end }}
{{ else if .Site.Params.paginate_categories }}
	{{ $paginator := .Paginate (where .Pages.ByDate.Reverse "Type" "post") }}
	{{ $list := $paginator.Pages }}
	{{ range $list  }}
		{{ partial "post-item.html" . }}
	{{ end }}
{{ else }}
	{{ $list := where .Pages.ByDate.Reverse "Type" "post" }}
	{{ range $list  }}
		{{ partial "post-item.html" . }}
	{{ end }}
{{ end }}

</ul>

{{ if .IsHome }}
	{{ if .Site.Params.paginate_home }}
		{{ partial "pagination" . }}
	{{ end }}
{{ else if .Site.Params.paginate_categories }}
	{{ partial "pagination" . }}
{{ end }}
