{{- $author := partial "site-author.html" . -}}
<div class="profile">
  <section class="profile-wrapper">
    <header class="h-card">
      <span class="profile-avatar-slot">
        <a class="u-url profile-home-link" href="/" aria-label="Home" title="Home">
          {{ with $author.avatar }}<img id="avatar" class="u-photo" src="{{ . }}" width="96" height="96" alt="{{ $.Site.Title }}">{{ end }}
        </a>
      </span>
      <h1 class="p-name">{{ $author.name }}</h1>
    </header>
  </section>
</div>
